<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Parts catalog</title>
</head>

<body>
<h2>Hello World!</h2>

<form onsubmit="f('catalog')" method="post" >
    <table>
        <caption color="gray">Filter</caption>
        <tr>
            <td>PN</td>
            <td><input type="text" name="number"></td>
        </tr>
        <tr>
            <td>Part Name</td>
            <td><input type="text" name='name'/></td>
        </tr>
        <tr>
            <td>Vendor</td>
            <td><input type="text" name="vendor"></td>
        </tr>
        <tr>
            <td>Qty</td>
            <td><input type="number" name='qty'/></td>
        </tr>
        <tr>
            <td><input bgcolor="dimgray" align="center" type="submit" value="filter"></td>
        </tr>
    </table>
</form>
<div id="objdiv1">Hello</div>
<!--<%&#45;&#45;<body onload='document.forms[0].submit()'>&#45;&#45;%>-->
<!--<%&#45;&#45;<form method='POST' enctype='text/plain'>&#45;&#45;%>-->
<!--<%&#45;&#45;<input name='{"name": Blade, "qty": "' value='"}'>&#45;&#45;%>-->
<script>
    function getJSONPOST(url, callback) {
        var xhr = newXMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                var status = xhr.status;
                if (status === 200) {
                    callback(null);
                    var obj = JSON.parse(xhr.responseText);
                    console.log(obj)
                    document.getElementById("objdiv1").innerHTML = "OK";
                } else {
                    callback(status);
                }
            }
        };
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        // xhr.setRequestHeader("Content-Type",
        //     "application/x-www-form-urlencoded");

        // xhr.responseType = 'json';
        xhr.send();
        // alert(xhr.response);
        // alert(xhr.responseText);
        // alert(xhr.responseType);
        // return xhr.responseText;

    };
</script>
<!--<%&#45;&#45;</form>&#45;&#45;%>-->
<!--</body>-->
<script>
    function f(url) {
        // var responseJson =
        getJSONPOST(url,
            function (err) {
                if (err !== null) {
                    console.log('Something went wrong: ' + err);
                } else {
                    console.log("OK")
                }
            });
        // alert(responseJson)
        // var obj = JSON.parse(responseJson);
        // console.log(obj)
        // document.getElementById("objdiv1").innerHTML = "OK";
    }
</script>
<script>
    // Возвращает новый XMLHttpRequest объект или false, если браузер его не поддерживает
    function newXMLHttpRequest() {
        var xmlreq = false;
        if (window.XMLHttpRequest) {
            // Создадим XMLHttpRequest объект для не-Microsoft браузеров
            xmlreq = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            // Создадим XMLHttpRequest с помощью MS ActiveX
            try {
                // Попробуем создать XMLHttpRequest для поздних версий
                // Internet Explorer
                xmlreq = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e1) {
                // Не удалось создать требуемый ActiveXObject
                try {
                    // Пробуем вариант, который поддержат более старые версии
                    //  Internet Explorer
                    xmlreq = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e2) {
                    // Не в состоянии создать XMLHttpRequest с помощью ActiveX
                }
            }
        }
        return xmlreq;
    }
</script>
<script>
    /*
* Возвращает функцию, которая ожидает, чтобы закончился
* определенный XMLHttpRequest, затем передает его ответ в XML-формате
* заданному оператору * req - это XMLHttpRequest, чье состояние изменяется
* responseXmlHandler - функция, передаваемая запрос XML
*/
    function getReadyStateHandler(req, responseXmlHandler) {
        // Возвращает неопределенную функцию, которая считывает
        // данные XMLHttpRequest return function () {
        // Если требуется статус "закончен"
        if (req.readyState == 4) {
            // Проверяем, пришел ли  успешный ответ сервера
            if (req.status == 200) {
                // Передает  XML оператору
                responseXmlHandler(req.responseXML);
            } else {
                // Возникла ошибка HTTP
                alert("HTTP error: " + req.status);
            }
        }
    }
</script>
<script>
    /*
 * Добавляет продукт, определенный его кодом,
 * в корзину покупателя
 * itemCode - код продукта для добавления.
 */
    function sendFilter(form) {
        // Возвращает содержимое  XMLHttpRequest
        var req = newXMLHttpRequest();
        // Оператор для получения сообщения обратного вызова
        // из объекта запроса
        var handlerFunction = getReadyStateHandler(req, updateCart);
        req.onreadystatechange = handlerFunction;
        // Открываем HTTP-соединение с помощью POST-метода к
        //сервлету корзины покупателя.
        // Третий параметр определяет, что запрос  асинхронный.
        req.open("POST", "catalog", true);
        req.responseType('json')
        // Определяет, что в содержимом запроса есть данные
        req.setRequestHeader("Content-Type",
            "application/x-www-form-urlencoded");
        req.send()
        // Посылаем закодированные данные, говорящие о том, что я хочу добавить
        // определенный продукт в корзину.
        // req.send("action=add&item="+itemCode);
    }
</script>
</body>
</html>
